<!-- postedBy:

title: 

employmentType: 

experienceLevel: 

companyName:

jobLocation: 

jobLink: 

skills:

discriptionSections:

discription:

} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechJobber||Jobs</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/TechJobber Icon@300x.png" type="image/x-icon" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css"
        integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <!-- Unicons CSS -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!-- EXTERNAL FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap" rel="stylesheet" />

    <!-- Custom JS -->
    <script src="/js/script.js" defer></script>
</head>

<body class="min-h-screen bg-slate-200 font-Default text-black dark:bg-black dark:text-white">


    <script>
        var linkObject = {} 
    </script>


       <!-- IMPROVISED BUTTON STYLINGS -->
       <style>


        #delete-modal-container 
        {   
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(150, 176, 208, 0.4);
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            
        }


        #delete-modal 
        {
            width: 80%;
            height: 80%; 
            background-color: transparent;
            padding: 10px; 
            box-sizing: border-box;
        }



        #delete-modal-header 
        {
            position: relative;
            width: 100%;
            height: 70%; 
            padding: 12px; 
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            color: white; 
            box-sizing: border-box;
            color: white; 
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }


        #delete-modal-buttons-container 
        {
            position: relative; 
            width: 100%;
            height: 30%; 
            display: flex;
            justify-content: space-around; 
            box-sizing: border-box;
            font-size: 16px; 
        }


        #cancel-delete-button 
        {
            padding: 10px; 
            color: white;
            height: auto;
            width: auto;
            background-color: grey;
            box-sizing: border-box;
        }


        #delete-button 
        {
            padding: 10px; 
            color: white;
            box-sizing: border-box;
            background-color: red;
            height: auto;
            width: auto;
        }




        .delete-and-edit-post-container 
        {
            width: 100%;
            height: auto;
            padding: 10px; 
            background-color: transparent;
            display: flex; 
            justify-content: space-between;
        }

        .edit-button
        {
            padding: 10px; 
            background-color: lightgreen; 
            color: white; 
        }

        .delete-button 
        {
            padding: 10px; 
            background-color: red; 
            color: white; 
        }

    </style>
    <!-- IMPROVISED BUTTON STYLINGS -->

    <!-- IMPROVISED DELETE ALERT -->
        <script>

                const deleteModalContainer = document.createElement('div') 
                const deleteModal = document.createElement('div')
                const deleteModalHeader = document.createElement('div')
                const deleteModalButtonsContainer = document.createElement('div') 
                const cancelButton = document.createElement('span')
                const deleteButton = document.createElement('span') 


                // Id 
                deleteModalContainer.id = 'delete-modal-container'
                deleteModal.id = 'delete-modal'
                deleteModalHeader.id = 'delete-modal-header'
                deleteModalButtonsContainer.id = 'delete-modal-buttons-container' 
                cancelButton.id = 'cancel-delete-button'
                deleteButton.id = 'delete-button' 

                // Urls 
                deleteButton.href= '' 

                // Inner Texts 
                deleteModalHeader.innerText = ' Delete Job Posting ' 
                cancelButton.innerText = ' Cancel '
                deleteButton.innerText = ' Delete ' 


                // event listeners 
                cancelButton.addEventListener("click",()=>{ removeModal() })
                deleteButton.addEventListener("click",(e)=>{ sendDeleteRequest(e) })

                // Append Elements 
                deleteModalButtonsContainer.appendChild( cancelButton )
                deleteModalButtonsContainer.appendChild( deleteButton ) 
                deleteModal.appendChild( deleteModalHeader )
                deleteModal.appendChild( deleteModalButtonsContainer )
              
                deleteModalContainer.appendChild( deleteModal ) 


               async function sendDeleteRequest(e)
                {
                    // send delete equest with fetch and await result 


                    const url = e.target.href 
                    const element_id = e.target.specialId 

                    console.log( url )
                    console.log( element_id ) 

                    const res = await fetch(url,{ method: 'DELETE' })

                    if( res.ok )
                    {
                        const deletedElement = document.getElementsByClassName(element_id)
                        deletedElement[0].remove() 
                        removeModal() 
                        window.alert(' Element Deleted Successfully ')
                    }
                    else 
                    {
                        removeModal() 
                        window.alert(' Element could not be deleted s')
                    }
                }



            function showDeleteJobModal( element)
            {
                console.log( element ) 
                deleteButton.href = "/dashboard/jobs/"+element.id 
                deleteButton.specialId = element.id 
                document.body.append( deleteModalContainer ) 
                console.log(' Done ')
            }

            function removeModal()
            {
                deleteModalContainer.remove() 
            }

        </script>


    <!-- IMPROVISED DELETE ALERT -->



    <!-- Navigaton starts -->

    <div class="container">
        <nav class="nav z-50 mx-auto  text-papayawhip bg-white dark:bg-black ">
            <i class="uil uil-bars navOpenBtn"></i>
            <a href="#" class="logo"><img src="./images/TechJobber Horizontal@300x.png" alt="" width="200px" /></a>

            <ul class="nav-links mx-auto  bg-white dark:text-green-600 dark:bg-black">
                <i class="uil uil-times navCloseBtn"></i>
                <li class=""><a class="hover:text-green-600" href="index.html">Home</a></li>
                <li><a class="hover:text-green-600" href="#">About</a></li>
                <li><a class="hover:text-green-600" href="#"> Contact</a></li>


                <li class="text-start">
                    <a href="#"> Recent Tech Jobs </a>
                </li>

                <button
                    class="mx-6 w-32 rounded-md border border-solid border-green-600 bg-green-600 text-white  p-2 hover:bg-green-500"
                    type="submit">
                    <a href="landing.html" >Register</a>
                </button>
            </ul>

            <i class="uil uil-search search-icon" id="searchIcon"></i>
            <div class="search-box">
                <i class="uil uil-search search-icon"></i>
                <input type="text" class="text-black" placeholder="Search here..." />
            </div>
        </nav>
    </div>

    <!-- Navigation ends -->

    <!-- Main section starts -->

    <main class=" absolute top-0 my-12 min-h-screen w-full">
        <section
            class="widescreen:section-min-height tallscreen:section-min-height my-4 scroll-mt-12 p-4 w-full sm:text-base"
            data-aos="fade-left" data-aos-delay="200">
            <h2 class="mb-6 text-center text-2xl my-12 font-bold text-green-600 sm:text-3xl">
                RECENT JOBS
            </h2>
            <ul
                class="mx-auto max-w-full my-12 flex list-none flex-col items-center justify-between align-middle gap-8 lg:flex-row lg:text-2xl sm:text-base">
               
               
                <!-- 1st card -->

                <% jobPosts.forEach((item)=>{%>


                    <!--- IMPORTANT -->

                    <!--  THIS IS THE LINK OF EACH JOB POST ON TECHJOBBER 
                    
                        "https://www.techjobber.com/jobs/<%= item.jobLink %>"

                    -->


                    <li data-aos="flip-up" data-aos-delay="200"                                 
                    class="flex w-full flex-col items-center  border border-solid border-slate-900 bg-white py-6 px-4 shadow-xl  dark:border-gray-100 dark:bg-black sm:w-1/2 sm:text-base <%= item._id %>">




                    <!-- COPY LINK MECHANICS -->
                  <span id="<%= item.jobLink %>" class="my-6 p-3 shadow-xl"> Copy link <i class="fas fa-clipboard"></i></span>

                     <script>
                        linkObject["<%= item.jobLink %>"] = document.getElementById("<%= item.jobLink %>")
                        
                        console.log(' Adding CLick Event Listener to click icon ')
                        console.log( linkObject["<%= item.jobLink %>"]) 

                        linkObject["<%= item.jobLink %>"].addEventListener("click",(e)=>{ copyLinkToClipboardHandler(e) })



                        async function copyLinkToClipboardHandler(e)
                        {
                            try 
                            {
                                console.log(' Checking if copy to clipboard Supported ')

                                if( navigator.clipboard )
                                {
                                    console.log(' Copy to clipboard supported ')
                                    copyToClipBoard(e) 
                                }
                                else 
                                {
                                    window.alert(' This site cannot copy to clip board ')
                                    return 
                                }


                            }
                            catch(e)
                            {
                                console.log(' Error occured in: COPY TO CLIPBOARD HANDLER ')
                                console.log(e) 
                            }
                        }


                        async function copyToClipBoard(e)
                        {
                            try 
                            {


                                // Check Browser Permissions for Clip Board Access 

                                const permissionStatus = await navigator.permissions.query({ name: "clipboard-write"})

                                if( permissionStatus.state === "granted" || permissionStatus.state === "prompt" )
                                {
                                    window.alert('Clipboard Access Granted ')
                                }
                                else 
                                {
                                    window.alert(' Clipboard Access not granted ')
                                    return 
                                }

                                permissionStatus.onchange = ()=>
                                { 
                                    window.alert(' Clipboard Permission Status Changed')
                                    window.alert( permissionStatus.state ) 
                                }



                                console.log(" CLICKED ")
                                var link = 'https://www.techjobber.com/jobs/<%= item._id %>'
                                await navigator.clipboard.writeText(link)
                                window.alert('Copied !  :' + ' " ' + link + ' " ')
                            }
                            catch(e)
                            {
                                console.log(' Error occured while copying link ')
                                console.log(e) 
                            }
                        }


                    </script>
                    
                    <!-- COPY LINK MECHANICS -->

                    <h3 class="text-start mt-2 text-2xl text-slate-900 dark:text-white">
                        <%= item.title %> 
                    </h3>

                    <p class="mt-2 md:text-xl w-full lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2"> Company Name :
                        <%= item.companyName %>
                    </p>
                    <p class="mt-2 w-full md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2"> Location :
                        <%= item.jobLocation %>
                    </p>
                    <p
                        class="mt-2 w-full md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2"> Employment Type:
                        <%= item.jobType %> 
                    </p>

                    <p class="mt-2 w-full md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2"> Experience
                        Level :
                        <%= item.experienceLevel %>
                    </p>
                   
                    <p class="mt-2 w-full md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2"> Experience
                       Salary :
                        <%= item.salary %>
                    </p>
                    
                    <p
                        class="mt-2 w-full md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2">
                        <%= item.jobLink %> 
                    </p>

                    <p
                    class="mt-2 w-full md:text-xl lg:text-base  text-start sm:text-base text-slate-500 dark:text-slate-400 px-2">
                    <%= item.description %> 
                     </p>

                    <!-- <button
                        class="mx-4 w-32 text-base my-4 border text-black dark:text-white border-solid border-green-600 p-2 rounded-md hover:bg-green-600"
                        type="submit"><a  id="<%= item.jobLink %>"  > Apply</a></button> -->

                    
                    <!-- ADDED LINK TO JOB APPLICATION PAGE -->
                     <script>
                        var link = document.getElementById("<%= item.jobLink %>")
                        console.log( link )
                        link.href = "<%= item.jobLink %>" 
                     </script>

                    <hr class="mx-auto mt-3 w-full bg-black dark:bg-white" />
                    <div class="delete-and-edit-post-container">
                        <a href="/dashboard/jobs/<%= item._id %>" class="edit-button"> Edit </a>
                        <span class="delete-button" id="<%= item._id %>" onclick="showDeleteJobModal(this)"> Delete </span>
                    </div>
                </li>


                <% }) %> 
                

             

            </ul>
        </section>

    </main>



    <!--- JOB POSTING LINK TO SHARE ON TELEGRAM --> 
    <!-- <a href="">  </a> -->
 
</body>
</html>
